.card {
	background-color: var(--clr-n-500);
	overflow: hidden;
	position: relative;
	z-index: 1;

	&.br-sm {
		border-radius: var(--br-sm);
	}

	&.br-lg {
		border-radius: var(--br-lg);
	}

	&--main {
		width: min(80%, 34.375rem);
		margin-inline: auto;
		margin-top: 25%;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	}
}
