.nav-bar {
	width: 100%;
	min-height: 70px;
	display: flex;
	align-items: center;
	padding-inline: 1.875rem;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.625rem;

	a {
		width: 83px;

		svg {
			width: 100%;
		}
	}
}
